.building-info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color:#ffffffab;
    padding: 25px;
    min-width: 50vw;
    left: 0;
    height: 100vh;
}

.price, .units, .pricing-text{
    font-size: 1.5rem;
}

h1, h2, h3, .units, .pricing-text, .price{
    color: black !important;
}


#banner{
    height: 100vh;
}