.building-info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color:#ffffffab;
    padding: 25px;
    min-width: 50vw;
    left: 0;
    height: 100vh;
}

.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.price, .units, .pricing-text{
    font-size: 1.5rem;
}

h1, h2, h3, .units, .pricing-text{
    color: black !important;
}

.price{
    color: white;
    background-color: #1b1b1b;
    box-shadow: 1px 2px 4px grey;
}

#banner{
    height: 100vh;
}