---
layout: proposal
comments: true
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}
{% include breadcrumbs.html class="content-narrow" %}
<div class="container pure-g">
  <div class="pure-u-1">
    <div class="content content-narrow">
      <div class="meta">
        {% if page.date %}
        <div class="post-date">{{ page.date | date_to_string }}</div>
        {% endif %}
        {% if page.tags.size > 0 %}
        <span class="meta-separator">&bull;</span>
        <ul class="tags-list">
          <li class="inline tag_list_item">
						Tags:
					</li>
					{% for tag in page.tags %}
          <li class="inline tag_list_item">
            {{ tag }}
            {% if forloop.last == true %}{% else %}
              <span>,</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {{ content }}
      <section>
        <div class="button-wrap">
          <a href="https://connelly-proposal-portfolio.netlify.app/projects/">Our Portfolio</a>
          <a href="https://connelly-proposal-portfolio.netlify.app/about/">Our Services</a>
        </div>
      </section>
      {% if page.related_posts.size > 0 %}
			<hr>
        <h2> Related Posts </h2>
        <div class="grid-layout">
          <div class="pure-g">
          {% for item in page.related_posts %}
            {% assign posts = site.posts | where:"path", item %}
              {% for post in posts %}
              <div class="pure-u-1 pure-u-md-1-3">
                <div class="card">
                  <div class="card-header">
                  {% if post.banner_image and post.banner_image != "" %}
                    <img src="{{ post.banner_image | absolute_url }}" alt="{{ post.title }}">
                  {% else %}
                    <img src="{{ "/img/placeholder.png" | absolute_url }}" alt="{{ post.title }}">
                  {% endif %}
                  </div>
                  <div class="card-body">
                    <h3><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h3>
                    <p>{{ post.sub_heading | slice: 0, 80 }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
          {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% if page.comments %}
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
      this.page.url = "https://connelly-proposal-portfolio.netlify.app/{{ page.url }}";
      this.page.identifier = "{{ page.title }}";
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://connellymanagement.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

